.card {
  margin: 1em 0;
  padding: 1em;
  background-color: white;
  color: #222;
  box-shadow: 2px 2px 16px #000;
}

.card-header {
  text-align: right;
  font-size: 0.75em;
  color: gray;
}

.card-body {
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.25em;
  }

  > div {
    align-self: flex-end;
  }
}

.tag {
  background-color: steelblue;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 0.25em 0.5em;
  margin: auto 0 auto 0.5em;
}

.card-footer i {
  margin-right: 0.5em;
  text-align: right;
  color: #666;
  font-size: 0.75em;
}