.card {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid gray;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  align-items: center;
}

.tag {
  background-color: darkslateblue;
  color: white;
  border-radius: 10px;
  padding: 0.5em;
  margin: auto 0.5em;
}