.header {
  background-color: white;
  color: #222;
  padding: 1em;
  border-bottom: 2px solid steelblue;

  .wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .items-right {
      text-align: right;

      p {
        margin: 0.25em 0;
      }
    }
  }

  h1 {
    font-family: 'Pacifico', cursive;
    margin: 0;
  }
}
