.footer {
  background-color: white;
  color: #222;
  margin-top: -2.5em;
  padding: 0.5em;
  border-top: 1px solid steelblue;
  max-height: 2em;

  .wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .items-right {
      text-align: right;
    }
  }
}
