.til-form-wrapper {
  position: relative;
  padding: 1em;
  background: #222;
  color: white;
}

.arrow {
  position: absolute;
  right: 2rem;
  padding: 0;
}

.up-arrow {
  bottom: -1.75rem;
}

.down-arrow {
  bottom: -6.5rem;
}