.header {
  background-color: white;
  color: #222;
  padding: 1em;
  border-bottom: 2px solid steelblue;

  .wrapper {
    margin: 0 auto;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    margin: 0;
  }
}

.wrapper {
  margin: 2em auto;
  max-width: 50em;
  width: 100%;
}
