.wrapper {
  margin: 2em auto;
  max-width: 50em;
  width: 90%;
}

a {
  color: #4682B3;
  font-weight: bold;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}
